// altWinDirStat - resources for fork-only features (fork-owned; not part of upstream WinDirStat).
// Dialog text is "IDS_*" keys, resolved at runtime from res\fork\lang_en.txt (and translations).
#pragma code_page(65001)

#include "resource.h"
#include "ForkResource.h"
#include "UiFrameworkRes.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_LEDGER_COMPARE DIALOGEX 0, 0, 640, 360
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "IDS_LEDGER_TITLE"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "",IDC_LEDGER_SUMMARY,7,7,626,30,SS_NOPREFIX
    LTEXT           "IDS_LEDGER_FILTER",IDC_LEDGER_FILTER_LABEL,7,44,40,12
    EDITTEXT        IDC_LEDGER_FILTER,50,42,420,14,ES_AUTOHSCROLL
    CONTROL         "IDS_LEDGER_SHOW_UNCHANGED",IDC_LEDGER_SHOW_UNCHANGED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,478,44,155,12
    CONTROL         "",IDC_LEDGER_LIST,"SysListView32",LVS_REPORT | LVS_OWNERDATA | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,62,626,270
    LTEXT           "",IDC_LEDGER_LEGEND,7,341,380,12,SS_NOPREFIX
    PUSHBUTTON      "IDS_LEDGER_EXPORT",IDC_LEDGER_EXPORT,445,338,110,15
    PUSHBUTTON      "IDS_LEDGER_CLOSE",IDCANCEL,561,338,72,15
END
